li{
    display: inline-block;
    text-align: center;
}

ul{
    /* display: inline-block; */
    text-align: center;
}
body{
    display: flex;
    justify-content: center; 

}
header{
    width: 980px;
    height: 55px;
    position: relative;
    font-size: 12px;
    border-bottom: 3px solid #e5e5e5;    
    top: 10px;
}

header .submenu .gnb{
    height: 70px;
    width: 100%;
    position: relative;
    display: inline-block;
}

/* gnb social */
header .submenu .gnb ul.social{
    /* float: left; */
    /* margin-top: 40px; */
    top: 30px;
    margin-top: 30px;
    float: left;
    
}

header .submenu .gnb ul.social li{
    margin-left: 15px;
 
}


/* gnb info */
header .submenu .gnb ul.info {
    position: absolute;
    top: 30px;
    right: 0px;
    
    
}

header .submenu .gnb ul.info li{
    margin-right: 15px;
    

}

/* gnb gnsm */
header .gnb ul.gnsm{
    position: absolute;
    right: 30px;
    top: 77px;
}

header .gnb ul.gnsm li{
    display: inline-block;
    margin-right: 16px;
}
header .gnb ul.gnsm span{
    position: absolute;
    top: -5px;
}

/*fixmenu*/
.fixmenu{
    width: 1000px;
    height: 100px;
    /* background-color: aqua; */
    position: relative;
}

.fixmenu ul.menu_list{
}

.fixmenu .menu_list .menu{
    position: relative;
    left: -20px;
}

.fixmenu .menu_list .menu .name{
    margin-left: 15px;
    font-size: 14px;
    width: 60px;
    height: 25px;
    justify-content: center;
 
}

.fixmenu .menu_list .menu .name:hover + .menu_title .menu_content li {
    /* height: 30px;*/
    width: 100%; 
    background-color: aqua;
    cursor: pointer;

}

.fixmenu .menu_list .menu .menu_title .menu_content{
    background-color: aquamarine;
    
}

.fixmenu .menu_list .menu .menu_title .menu_content .inner{
    /* width: 200px; 
    background-color: yellow;
     */
}
.fixmenu .menu_list .menu .menu_title .menu_content .inner li{
    /* background-color: red;
    margin-left: 20px; */
}

.fixmenu .menu_list .menu .menu_title .menu_content .inner ul{
    /* background-color: tomato;
    margin-left: 20px; */
}
/* 
 */


/*logo*/
header .submenu .logo>img{
    height: 37px;
    width: 219px;

}

header .submenu .logo{

    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -120px;
}






